body {
    margin: 0;
    padding: 0;
    font-family: 'TT Lakes', serif;
}

.site-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9FFF5;
    padding: 24px 16px 18px 16px;
}

.header-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header-buttons__button {
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border: none;
    border-radius: 50%;
}

.title-main {
    display: flex;
    gap: 16px;
    margin: 24px 0 24px 0;
}

.title-main__text {
    margin: 0;
}

.site-nav {
    position: relative;
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex;
    margin-left: 16px;
    text-wrap: nowrap;
    white-space: nowrap;
}

.site-nav:after {
    content: '';
    position: fixed;
    width: 24px;
    height: 40px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFF);
    right: 0;
}

.site-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;

}

.site-nav__variation{
    padding: 8px 9px 8px 16px;
}

.site-nav__variation--available {
    padding: 8px 9px 8px 16px;
    border: 2px solid #b8ffec;
    border-radius: 6px;
}

.section-main{
    margin: 24px 16px 16px;
}

.section-main__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-bottom: 16px;
    margin: 0;
    max-width: 100%;
}

.section-main__button {
    border: none;

    background: none
}

.section-main__span {
    font-family: 'TT Lakes', serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 13px;
}

.section-main__image {
    width: 100%;
}

.title-buttons,
.title-buttons__text,
.header-buttons__divider-left,
.tablet-button,
.office__tablet,
.office__desktop,
.section-main__text--desktop,
.section-main__text--tablet {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-buttons__divider-left, .tablet-button {
        display: inline;
    }

    .title-main{
        gap: 24px;
        margin: 24px 0 32px 0;
    }

    .site-nav {
        margin-left: 24px;
    }

    .section{
        margin-top: 32px;
    }

    .section-main{
        margin-top: 0;
        margin-left: 24px;
    }

    .section-main__text{

        padding-bottom: 0;
    }

    .section-main__text--tablet {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.2px;
        padding: 24px 0 16px;
        margin: 0;
    }
    .section-main__image {
        width: 50%;
    }
    .section {
        display: flex;
    }


}

@media screen and (min-width: 1120px) {
    .site-header,
    .section-main__text--tablet,
    .office__tablet {
        display: none;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title-main{
        gap: 32px;
        margin: 42px 0 0 0;
    }

    .title-buttons {
        display: flex;
        align-items: center;
        margin-top: 42px ;
    }

    .title-buttons:nth-child(2) {
        margin-right: 32px;
    }

    .title-buttons__text {
        display: flex;
        padding: 8px 8px 8px 32px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.2px;
        line-height: 24px;
    }

    .site-nav {
        overflow-x: visible;
        margin: 8px 25px 7px 32px;
        flex-wrap: wrap;
    }
    .site-nav-list {
        flex-wrap: wrap;
        row-gap: 15px;
        justify-content: space-between;
    }

    .site-nav__variation--available {
        padding: 8px 21px 7px 22px;
    }

    .section {
        margin-top: 16px;
    }

    .section-main {
        margin: 0 36px 13px 34px;
    }

    .section-main__text {
        padding: 0 0 15px 0;
        line-height: 20px;
    }

    .section-main__text--desktop {
        display: block;
    }

}